@import url(https://fonts.googleapis.com/css?family=Lobster);

.break-time-text,
.session-time-text{
  padding: 1em;
}

h1 {
  font-family:Lobster;
}

body {
  text-align:center;
  background-color: #FF4136;
}

section {
  padding-top: 5%;
}

.btn-default {
  background-color: #FFF;
}

